*{
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}

:root {
	--hue-neutral: 200;
	--hue-wrong: 0 ;
	--hue-right: 145 ;
}

body{
	--hue: var(--hue-neutral);
	padding: 0;
	margin: 0;
	width:100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(var(--hue), 100%, 20%);
}

body.correct{
	--hue: var(--hue-correct);
}

body.wrong{
	--hue: var(--hue-correct);
}

#title{
	font-size: 20px;
	margin-top: 0px;
	padding: 8px 5px;
	max-width: 250px;
	max-height: 60px;

	
}

.container{
	width: 750px;
	max-width: 75%;
	border-radius: 8px;
	background-color: #fcfeff;
	box-shadow: 0 0 10px 2px;
	padding: 15px;
	display: flex;
	flex-direction:column;
	align-items: center;
}

.answer-btn{
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 10px;
	margin: 10px;
	cursor: pointer;

}

.btn{
	--hue: var(--hue-neutral);
	border: 1px solid #5dbcd2;
	border-radius: 3px;
	background-color: #5dbcd3;
	padding: 5px 10px;
	cursor: pointer;
	
}

.btn:hover {
	border-color:black;
	background-color: yellow;
}

.btn.correct{
	background: green;
	color: white;
}

.btn.wrong{
	background: red;
	color: white;
}

.startButton-btn, .nextButton-btn{
	font-size: 1.2rem;
	font-weight: bold;
	padding: 8px 16px;
	cursor: pointer;

}

.startButton-btn:hover, .nextButton-btn:hover{
	border-color:black;
	background-color: yellow;
}

.controls{
	display: flex;
	justify-content: center;
}

.hide {
	display:none ;
	font-size: 20px;
}